
p This is the habit rabbit website. You can track your habits, update them daily and view your progress towards your goals!
main.main-area
  .centered
    section.cards
      for val in data
        article.card
          a(href= `${val.modelName.toLowerCase()}`)
            picture.thumbnail
              img.card__img(src= `${val.targetColumn}.png` alt='A banana that looks like a bird')
            .card-content
              h2= val.modelName 
              p Your goal is to do #{val.number} #{val.format} per #{val.frequency}
              if val.passing
                p Your currently at #{val.current}, you are achieving your goal!
              else
                p Your currently at #{val.current}, take one day at a time!
              if !val.today
                p Click to log your #{val.modelName} goal for today!
  

              
