doctype html
html(lang="en")
  head
    title= title
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    include ../partials/_header
    .habit-container
      h1= title
      p The length of the data is 
      p= len
      p Wlecom to the overview page
      p= data
      p Your average sleep microseconds are
      p= avgExercise
      a(href='/') Click here to go to back home
    
    p Did you log today?
    p= loggedToday
