doctype html
html(lang="en")
  head
    title= title
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    include ../partials/_header
    h1= something
    p This is the habit rabbit website. You can track your habits, update them daily and view your progress towards your goals!
    .habit__container
      
      each val in data
        ul.habit__card
          li= val.dbQuery.goalResult
          li= val.modelName
          li= val.number
          li= val.goalMetric
          li
            a(href= val.href) Click here to go to the #{val.modelName} page
          li= val.targetColumn
          li= val.today

         


    a(href='/sleep') Click here to go to sleep page
    
    p Did you log today?
    p= loggedToday
